.input {
    &__item {
      display: grid;
      grid-template-columns: rem(110) minmax(rem(160), rem(500));
      padding: rem(20) rem(5);
      position: relative;
      @media (max-width:em(700)){
        padding: rem(10) rem(5);
      }
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: rgb(165, 128, 73);
      font-weight: 500;
    }

    &__clear-btn {
      position: absolute;
      cursor: pointer;    
      right: rem(10);
      top: rem(42);
      color: rgb(255, 80, 176);
      @media (any-hover: hover){
        &:hover{
            color: rgb(254, 16, 147);
            transform: scale(2);
        }
      }
    }
}


